--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html

torch>=2.0.0
numpy>=1.24.0,<2.0.0
gymnasium>=0.28.1
pyyaml>=6.0
matplotlib>=3.7.0
pygame>=2.5.0
wandb>=0.16.0

# Additional dependencies used by the project
flax
ruamel.yaml

# Dependencies
av
chex
colored_traceback
einops
google-resumable-media>=2.7.2
ipdb
jaxtyping
optax
tqdm

# JAX CUDA
jax[cuda12]